*.egg-info/
brisket/__pycache__/
brisket/utils/__pycache__/
brisket/models/__pycache__/
brisket/fitting/__pycache__/
brisket/grids/__pycache__/
brisket/.DS_Store
.DS_Store
brisket/grids/*.fits
brisket/grids/*.hdf5
brisket/grids/raw_data/
brisket/grids/raw_data/*
!brisket/grids/raw_data/bc03/
brisket/grids/raw_data/bc03/*
!brisket/grids/raw_data/bc03/*.py
brisket/grids/cloudy_temp/
